# APP name
# MD = raw_mkt_data_receiver   , low_latency
# MM = processed_mkt_data_mcast_sender , low_latency
# LS = Live_data or processed_mkt_data_mcast_receiver , low_latency
# CONTROL
# ORS = ors bcast, (exchange replies etc..)
# ORS_LS = ors_livesource, 
#LOCATION  EXCHANGE  APP_NAME  INTERFACE  
#CHI
#NY
NSE        NSE       LS       em1
NSE        NSE       MD       p4p2
NSE                  ORS      p4p1.227
NSE                  ORS_LS   p4p1.227
NSE                  CONTROL  em1
NSE        OSE       LS       p4p1.227
NSE        EUREX     LS       p4p1.227
NSE        CME       LS       p4p1.227
NSE        SGX       LS       p4p1.227
NSE        SGX       MD       p4p1.227
