# APP name
# MD = raw_mkt_data_receiver   , low_latency
# MM = processed_mkt_data_mcast_sender , low_latency
# LS = Live_data or processed_mkt_data_mcast_receiver , low_latency
# CONTROL
# ORS = ors bcast, (exchange replies etc..)
# ORS_LS = ors_livesource, 
#LOCATION  EXCHANGE  APP_NAME  INTERFACE  
#CHI
#NY
NSE        NSE       MD        enp101s0f0
NSE                  ORS       enp101s0f1
NSE                  ORS_LS    enp101s0f1
NSE                  CONTROL   enp0s31f6.227
