Use_SHM yes
UseAffinity Y
HeartbeatIntvl 1
MemberId DVC
SenderSubID DVA
TargetCompID ASX
TargetSubID ASX
SenderLocationID NY4
Control_Port 35000
Client_Port 17247
Client_Base 44
BCast_IP 239.23.0.153
BCast_Port 27147
Exchange ASX
#AccountNumber DFCTEST
#AccountName 19831H
#AccountName DVC1
AccountName 1983
HeartBtInt 30
ORSThrottleLimit 12

TraderID DVB
Password Pessword2
PasswordChangeDate 20170118

IsSOG 1
SharedOrderID 8
SenderCompID 0
ip 0
SocketConnectHost 0
Multisessions 20,21

#SenderCompID-20 DVCO2
##SocketConnectHost-20 203.18.165.16
#SocketConnectHost-20 103.239.128.66
#SocketConnectPort-20 6980
##SenderSubID-20 DVB
#SenderSubID-20 DVCO2

SenderCompID-20 DVCO2
SocketConnectHost-20 103.239.128.66
SocketConnectPort-20 6980
SenderSubID-20 DVCO2
Password-20 Phssword3
SharedOrderID-20 NEWORD

SenderCompID-21 DVCO1
SocketConnectHost-21 103.239.128.66
SocketConnectPort-21 6980
SenderSubID-21 DVCO1
Password-21 Phssword3
SharedOrderID-21 89630

ControlHubIP 10.23.74.51
ControlHubPort 22
ControlHubConnectionInterval 180
ReportToControlHUB N

