# APP name
# MD = raw_mkt_data_receiver   , low_latency
# MM = processed_mkt_data_mcast_sender , low_latency
# LS = Live_data or processed_mkt_data_mcast_receiver , low_latency
# CONTROL
# ORS = ors bcast, (exchange replies etc..)
# ORS_LS = ors_livesource, 
#LOCATION  EXCHANGE  APP_NAME  INTERFACE  
CFE        CME       MD       eth6.2230
CFE        CMEMDP    MD       eth6.2230
CFE        CME       MD_A     eth6.2230
CFE        CME       MD_B     eth6.2230
CFE        CME       MD_C     eth6.2230
CFE        CSM       MD       eth6.2045
CFE        CSM       MM       eth6.2483
CFE        CFE       MD       eth6.2045
CFE        CFE       MM       eth6.2483
CFE        AFLASH    LS       eth6.2483
CFE        EUREX     LS       eth6.2483
CFE        LIFFE     MD       eth6.2293
CFE        ICE       MD       eth6.2293
CFE                  CONTROL  eth0.2482
CFE                  ORS_LS   eth6.2483
CFE                  ORS      eth6.2483
CFE                  ORS_SLOW eth0.2482
