# APP name
# MD = raw_mkt_data_receiver   , low_latency
# MM = processed_mkt_data_mcast_sender , low_latency
# LS = Live_data or processed_mkt_data_mcast_receiver , low_latency
# CONTROL
# ORS = ors bcast, (exchange replies etc..)
# ORS_LS = ors_livesource, 
#LOCATION  EXCHANGE  APP_NAME  INTERFACE  
#CHI
#FR
#FR2        EUREX     MD_B     p2p2.1977
#FR2        EUREX     MD_A     p2p2.1976 
FR2        EUREX     MD_B     p2p2.3722
FR2        EUREX     MD_A     p2p1.3712 
FR2        EUREX     MM       p2p2.2489
FR2        EUREX_NTA MD       p2p2.1977
FR2        EUREX_NTA MM       p2p2.2489
FR2        CME       MD       p2p2.2225
FR2        CME       MD_A     p2p2.2225
FR2        CME       MD_B     p2p2.2225
FR2        CME       MD_C     p2p2.2225
FR2        CMEMDP    MD       p2p2.2225
FR2        CME       LS       p2p2.2489
FR2        CFE       LS       p2p2.2489
FR2        AFLASH    LS       p2p2.2489
FR2        EUREX     LS       p2p2.2489
FR2        EOBI      LS       eth6.2489
FR2        EUREX_NTA LS       p2p2.2489
FR2        LIFFE     MD       p2p2.2291
FR2        ICE       MD       p2p2.2291
FR2                  CONTROL  em2.2488
FR2                  ORS      p2p2.2489
FR2                  ORS_LS   p2p2.2489
