gcc-4*
bin
*/bin
dox
*~
*.pyc
a.out
core.*
.directory
.pydevproject
*.o
*.d
*.a
.project
.pydevproject
.cproject
*/install-bin
my_infracore_*etags*
my_basetrade_*etags*
.Rhistory
*.swp
.RData
.DS_Store
.settings
.metadata*
*.bak
*.tdy
.idea
.nfs*
*.aux
*.log
*.out
*.bbl
*.blg
*.pdf
*.synctex.gz
/Debug/

# Python related paths
venv