gcc-4*
gcc-6*
bin
*/bin
dox
*~
*.pyc
a.out
core.*
.directory
*.o
*.d
*.a
.project
.cproject
*/install-bin
.Rhistory
*.swp
*.swo
.RData
.DS_Store
.settings
.metadata*
ALL.xml
Tests/data/newfile_append_test.txt
.mypy_cache
.vscode
