{"type": "1",
  "shortcode": "CGB_0",
  "super-session": "US",
  "param-list": [
      {"path": "/media/shared/ephemeral0/psarthy/params/CGB_0/test_param_CGB_0_pbat_generic_self-ease_62"},
      {"path": "/media/shared/ephemeral0/psarthy/params/CGB_0/test_param_CGB_0_pbat_generic_waller_22"}
    ],
"model-training-lookback" : "20",
"model-retrain-frequency" : "10",
"ilist" : "/home/dvctrader/modelling/stratwork/CGB_0/ilist_CGB_0_cubfutbaxmidcl_fasttrade",
"trading-start" : "EST_730",
"trading-end" : "EST_1530",
"pred-duration" : "32",
"pred-algo" : "na_t3",
"filter" : "fv" ,
"datagen-sampling" : "1000 e1 ts1",
"regress-exec" : "FSRR 0.75 0.0125 0 0 0.55 10",
"exec-logic" : "DirectionalAggressiveTrading",
"mail-address" : "puru.sarthy@circulumvite.com"
}
