{
  "type": "3",
  "shortcode": "CGB_0",
  "super-session": "US",
  "model-list": [{"path": "/home/dvctrader/modelling/models/CGB_0/EST_800-EST_1530/w_model_ilist_CGB_0_US_OMix_OMix_as_cl_64_ne_t3_20160105_20160202_EST_800_EST_1530_4000_c1_0_881593197_0_fst1_FSRMSH.6.0.03.0.0.0.55.12.N"},
      {"path": "/media/shared/ephemeral0/psarthy/models/CGB_0/testFSRR.0.75.0.04.0.0.0.95.20schistothorax_0.002"},
      {"path": "/media/shared/ephemeral0/psarthy/models/CGB_0/testFSRR.0.75.0.0125.0.0.0.55.10waller_0.002"},
      {"path":"/media/shared/ephemeral0/psarthy/models/CGB_0/testFSVLR.1.5.0.03.0.0.0.60.12self-ease_0.002"}],
      "param-list": [
      {"path": "/media/shared/ephemeral0/psarthy/params/CGB_0/test_param_CGB_0_pbat_generic_self-ease_62"},
      {"path": "/media/shared/ephemeral0/psarthy/params/CGB_0/test_param_CGB_0_pbat_generic_waller_22"}
    ],"trading-start" : "EST_730","trading-end" : "EST_1530"}
